<!DOCTYPE html>
<html>
<head>
    <title>Mixart Analytics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h2>📊 Mixart Analytics</h2>

<canvas id="line"></canvas>

<script>
fetch('/api/daily')
.then(r => r.json())
.then(data => {
    new Chart(document.getElementById('line'), {
        type: 'line',
        data: {
            labels: data.map(x => x[0]),
            datasets: [{
                label: 'Kunlik savdo',
                data: data.map(x => x[1]),
                borderWidth: 3
            }]
        }
    });
});
</script>

</body>
</html>
